body{
    background-image: url(cafe2.jpg);
    background-repeat: no-repeat;
    background-size: 1910px 900px;
}
form{
    border: solid 1px white;
    width: 500px;
    background-color: whitesmoke;
    margin-left: 560px;
}
h1{
    text-align: center;
    color: black;
    font-size: 50px;
}
label{
    font-size: 25px;
    color: red;
    font-weight: bold;
}
input{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}
button{
height: 50px;
width: 150px;
background-color: brown;
font-size: 21px;
border-radius: 20px      ;
}


